extends header.pug

block content 
    table(class="table table-hover table-striped")
        thead 
            th Tickersymbol
            th Name
            th Anzahl Aktien 
            th Preis 
            th Datum
        each stock in stocks    
            tr
                td #{stock.symbol}
                td #{stock.name}
                td #{stock.count}
                td #{stock.price}
                td #{stock.date}